<%- include('header') %>
    <div class="container">
        <div class="row">
            <h1 class="text-center">
                User Dashboard
            </h1>
            <br>
        </div>
    </div>

    <%- include('footer') %>